* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
}

.main-wrapper {
	min-width: 320px;
	max-width: 660px;
}

.slider{

	&-slides {
		width: 300%;
	}

	&-inner {
		overflow: hidden;
	}

	input[type=radio] {
	    display: none;
	}

}