form {
	
	font-family: 'Open Sans' sans-serif;
	
	label {
		display: block;
		color: #d22856;
		margin-left: 25px;
		font-size: 14px;
		text-transform: uppercase;
	}	

	input[type="text"] {
		padding: 20px;
		margin-bottom: 25px;
		width: 87.5%;
		min-width: 280px;
		border: 2px solid #e5e5e5;
		border-radius: 2px;
		font-size: 18px;
	}

	.head {
		padding: 55px 20px 0 20px;
		font-size: 14px;
		line-height: 28px;
		text-align: center;
		margin-bottom: 30px;
	}
	

	.block-name {
		padding:  20px;

		label {

			margin-bottom: 15px;
		}
	
	}

	.block-application {
		padding: 40px 20px;
		background-color: #f2f2f2;


		&__head {
			text-align: center;
			margin-bottom: 40px; 
		}

		.os {
			text-transform: none;
			color: #283645;
		}
	}

	.block-data {
		text-align: center;
		padding: 50px 20px;
		
		&__head {
			margin-bottom: 45px; 
		}

		label {
			margin-bottom: 25px;
		}

	}

	.block-companions {
		background-color: #f2f2f2;
		padding: 40px 20px 0 20px;

		.number {
			width: 20px;
			min-width: 0;
			float: left;
			border-right: none;
		}

		.name {
			width: 0;
		}

		label {
			margin-bottom: 15px;
		}
	}
}